<!-- {% extends "base.html" %}
{% block title %}Home{% endblock %}
{% block head %}
  {{ super() }}
  <link
      rel="stylesheet"
      type="text/css"
      href="{{ url_for('static',filename='styles/homepage.css') }}"
    />
{% endblock %}
{% block content %}
<div class="text-box1">
    <h1>AI For Sustainability</h1>
    <h2>Machine Vision & Intelligent Systems Lab</h2>
    <p>
      A multidisciplinary research group performing basic and applied research
      in computer vision, data science, and related areas for AI & machine
      learning.
    </p>
</div>

</section id = "outer">

<section id="b1">
    <h2>Who are we</h2>
    <p>we amazing and passionate computer scientist working on the state of the art Machine learning and deep learning projects bringing
      unbelievable innovation in world
    </p>
</section>

<section id="b2">
  <h2>Our vision</h2>
  <p>we amazing and passionate computer scientist working on the state of the art Machine learning and deep learning projects bringing
    unbelievable innovation in world</p>
</section>

<section id = "b3">
<div class="text-box4">
  <h2>Our Mission</h2>
  <p>we amazing and passionate computer scientist working on the state of the art Machine learning and deep learning projects bringing
    unbelievable innovation in world
  </p>
</div>
</section>
</section>
{% endblock %}
-->
