<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="initial-scale=1, width=device-width" />

    <link rel="stylesheet" href="{{ url_for('static',filename='styles/global.css') }}" />
    <link rel="stylesheet" href="{{ url_for('static',filename='styles/news-events.css') }}" />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Inter:ital,wght@0,200;0,300;0,400;0,600;0,700;0,800;1,400&display=swap"
    />
  </head>
  <body>
    <div class="news-events">
      <div class="vector-parent">
        <img class="group-child" alt="" src="{{url_for('static', filename='/Image/blue_rectangle.png')}}" />

        <div class="what-we-offer"></div>
        <div class="ai-consulting-new-container">
          <p class="ai-consulting"></p>
          <p class="ai-consulting"></p>
          <p class="ai-consulting"></p>
        </div>
      </div>
      <div class="news-events-child"></div>
      <div class="sines-research1">SINES RESEARCH</div>
      <img class="news-events-item" alt="" src="{{url_for('static', filename='/Image/main_design.png')}}" />

      <div class="line-parent">
        <img class="group-item" alt="" src="{{url_for('static', filename='/Image/main_line.png')}}" />

        <div class="latest-news">LATEST NEWS & EVENTS</div>
      </div>
      <img
        class="news-events-inner"
        alt=""
        src="{{url_for('static', filename='/Image/bar.png')}}"
      />

      <div class="news">News</div>
      <div class="frame-parent">
        <div class="rectangle-parent">
          <div class="frame-child2"></div>
          <div class="frame-child3"></div>
          <div class="news-1">News 1</div>
        </div>
        <div class="rectangle-group">
          <div class="frame-child2"></div>
          <div class="frame-child3"></div>
          <div class="news-1">News 1</div>
        </div>
        <div class="rectangle-container">
          <div class="frame-child2"></div>
          <div class="frame-child3"></div>
          <div class="news-1">News 1</div>
        </div>
        <div class="frame-div">
          <div class="frame-child2"></div>
          <div class="frame-child3"></div>
          <div class="news-1">News 1</div>
        </div>
        <div class="rectangle-parent1">
          <div class="frame-child2"></div>
          <div class="frame-child3"></div>
          <div class="news-1">News 1</div>
        </div>
        <div class="rectangle-parent2">
          <div class="frame-child2"></div>
          <div class="frame-child3"></div>
          <div class="news-1">News 1</div>
        </div>
        <div class="rectangle-parent3">
          <div class="frame-child2"></div>
          <div class="frame-child3"></div>
          <div class="news-1">News 1</div>
        </div>
        <div class="rectangle-parent4">
          <div class="frame-child2"></div>
          <div class="frame-child3"></div>
          <div class="news-1">News 1</div>
        </div>
        <div class="rectangle-parent5">
          <div class="frame-child2"></div>
          <div class="frame-child3"></div>
          <div class="news-1">News 1</div>
        </div>
      </div>
      <img class="rectangle-icon" alt="" src="{{url_for('static', filename='/Image/bar.png')}}" />

      <div class="events">Events</div>
      <div class="frame-group">
        <div class="rectangle-parent">
          <div class="frame-child2"></div>
          <div class="frame-child3"></div>
          <div class="news-1">Event 1</div>
        </div>
        <div class="rectangle-group">
          <div class="frame-child2"></div>
          <div class="frame-child3"></div>
          <div class="news-1">Event 1</div>
        </div>
        <div class="rectangle-container">
          <div class="frame-child2"></div>
          <div class="frame-child3"></div>
          <div class="news-1">Event 1</div>
        </div>
        <div class="frame-div">
          <div class="frame-child2"></div>
          <div class="frame-child3"></div>
          <div class="news-1">Event 1</div>
        </div>
        <div class="rectangle-parent1">
          <div class="frame-child2"></div>
          <div class="frame-child3"></div>
          <div class="news-1">Event 1</div>
        </div>
        <div class="rectangle-parent2">
          <div class="frame-child2"></div>
          <div class="frame-child3"></div>
          <div class="news-1">Event 1</div>
        </div>
        <div class="rectangle-parent3">
          <div class="frame-child2"></div>
          <div class="frame-child3"></div>
          <div class="news-1">Event 1</div>
        </div>
        <div class="rectangle-parent4">
          <div class="frame-child2"></div>
          <div class="frame-child3"></div>
          <div class="news-1">Event 1</div>
        </div>
        <div class="rectangle-parent5">
          <div class="frame-child2"></div>
          <div class="frame-child3"></div>
          <div class="news-1">Event 1</div>
        </div>
      </div>
      <div class="group-parent">
        <button class="group-button">
          <div class="group-inner"></div>
          <i class="home1"><a href=home>HOME</a></i>
        </button>
        <button class="rectangle-parent15" id="groupButton1">
          <div class="group-child1"></div>
          <i class="projects1"><a href=projects>PROJECTS</a></i>
        </button>
        <button class="rectangle-parent16" id="groupButton2">
          <div class="group-child2"></div>
          <i class="publications"><a href=publications>PUBLICATIONS</a></i>
        </button>
        <button class="rectangle-parent17" id="groupButton3">
          <div class="group-child3"></div>
          <i class="people"><a href=team>PEOPLE</a></i>
        </button>
        <button class="rectangle-parent18" id="groupButton4">
          <div class="group-child4"></div>
          <i class="jobs"><a href=jobs>JOBS</a></i>
        </button>
        <button class="rectangle-parent19" id="groupButton5">
          <div class="group-child5"></div>
          <i class="datasets"><a href=datasets>DATASETS</a></i>
        </button>
        <button class="rectangle-parent20" id="groupButton6">
          <div class="group-child6"></div>
          <i class="news-events1"><a href=news-events>NEWS & EVENTS</a></i>
        </button>
      </div>
    </div>

    <script>
      var groupButton1 = document.getElementById("groupButton1");
      if (groupButton1) {
        groupButton1.addEventListener("click", function (e) {
          window.location.href = "./projects.html";
        });
      }
      
      var groupButton2 = document.getElementById("groupButton2");
      if (groupButton2) {
        groupButton2.addEventListener("click", function (e) {
          window.location.href = "./publication.html";
        });
      }
      
      var groupButton3 = document.getElementById("groupButton3");
      if (groupButton3) {
        groupButton3.addEventListener("click", function (e) {
          window.location.href = "./people.html";
        });
      }
      
      var groupButton4 = document.getElementById("groupButton4");
      if (groupButton4) {
        groupButton4.addEventListener("click", function (e) {
          window.location.href = "./jobs.html";
        });
      }
      
      var groupButton5 = document.getElementById("groupButton5");
      if (groupButton5) {
        groupButton5.addEventListener("click", function (e) {
          window.location.href = "./datasets.html";
        });
      }
      
      var groupButton6 = document.getElementById("groupButton6");
      if (groupButton6) {
        groupButton6.addEventListener("click", function (e) {
          window.location.href = "news-events.html";
        });
      }
      </script>
  </body>
</html>
