<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="initial-scale=1, width=device-width" />

    <link rel="stylesheet" href="{{ url_for('static',filename='styles/global.css') }}" />
    <link rel="stylesheet" href="{{ url_for('static',filename='styles/people.css') }}" />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Inter:ital,wght@0,200;0,300;0,400;0,600;0,700;0,800;1,400&display=swap"
    />
  </head>
  <body>
    <div class="people1">
      <div class="sines-research-parent">
        <div class="sines-research2">SINES RESEARCH</div>
        <div class="group-container">
          <button class="rectangle-parent21">
            <div class="group-child7"></div>
            <i class="home2"><a href=home>HOME</a></i>
          </button>
          <button class="rectangle-parent22" id="groupButton1">
            <div class="group-child8"></div>
            <i class="projects2"><a href=projects>PROJECTS</a></i>
          </button>
          <button class="rectangle-parent23" id="groupButton2">
            <div class="group-child9"></div>
            <i class="publications1"><a href=publications>PUBLICATIONS</a></i>
          </button>
          <button class="rectangle-parent24" id="groupButton3">
            <div class="group-child10"></div>
            <i class="people2"><a href=team>PEOPLE</a></i>
          </button>
          <button class="rectangle-parent25" id="groupButton4">
            <div class="group-child11"></div>
            <i class="jobs1"><a href=jobs>JOBS</a></i>
          </button>
          <button class="rectangle-parent26" id="groupButton5">
            <div class="group-child12"></div>
            <i class="datasets1"><a href=datasets>DATASETS</a></i>
          </button>
          <button class="rectangle-parent27" id="groupButton6">
            <div class="group-child13"></div>
            <i class="news-events2"><a href=news-events>NEWS & EVENTS</a></i>
          </button>
        </div>
      </div>
      <b class="faculty-members">Faculty Members</b>
      <b class="team-leads">Team Leads</b>
      <div class="group-div">
        <div class="rectangle-parent28">
          <div class="group-child14"></div>
          <div class="lab-head">Lab Head</div>
          <div class="dr-shah-khalid">Dr. Shah Khalid</div>
          <img class="group-child15" alt="" src="{{url_for('static', filename='/Image/shahkhalid.png')}}" />

          <div class="link-profile">
            <a class="skill-iconstwitter">
              <img class="group-icon" alt="" src="{{url_for('static', filename='/Image/twitter.png')}}" />
            </a>
            <a class="academiconsgoogle-scholar-squ">
              <img class="vector-icon" alt="" src="{{url_for('static', filename='/Image/google_scholar.png')}}" />
            </a>
            <a class="deviconlinkedin" target="_blank">
              <img class="vector-icon1" alt="" src="{{url_for('static', filename='/Image/linkedin1.png')}}" />

              <img class="vector-icon2" alt="" src="{{url_for('static', filename='/Image/linkedin.png')}}" />
            </a>
          </div>
        </div>
        <div class="rectangle-parent29">
          <div class="group-child14"></div>
          <div class="lab-director">Lab Director</div>
          <div class="dr-shah-khalid">Dr. Shah Khusro</div>
          <img
            class="group-child15"
            alt=""
            src="{{url_for('static', filename='/Image/shah khusro.png')}}"
          />

          <div class="link-profile1">
            <a class="skill-iconstwitter">
              <img class="group-icon" alt="" src="{{url_for('static', filename='/Image/twitter.png')}}" />
            </a>
            <a class="academiconsgoogle-scholar-squ">
              <img class="vector-icon" alt="" src="{{url_for('static', filename='/Image/google_scholar.png')}}" />
            </a>
            <a class="deviconlinkedin">
              <img class="vector-icon1" alt="" src="{{url_for('static', filename='/Image/linkedin1.png')}}" />

              <img class="vector-icon2" alt="" src="{{url_for('static', filename='/Image/linkedin.png')}}" />
            </a>
          </div>
        </div>
        <div class="rectangle-parent30">
          <div class="group-child14"></div>
          <div class="lab-head">Co-Director</div>
          <div class="dr-shah-khalid">Dr. Irfan Ullah</div>
          <img
            class="group-child15"
            alt=""
            src="{{url_for('static', filename='/Image/irfan.png')}}"
          />

          <div class="link-profile2">
            <a class="skill-iconstwitter">
              <img class="group-icon" alt="" src="{{url_for('static', filename='/Image/twitter.png')}}" />
            </a>
            <a class="academiconsgoogle-scholar-squ">
              <img class="vector-icon" alt="" src="{{url_for('static', filename='/Image/google_scholar.png')}}" />
            </a>
            <a class="deviconlinkedin">
              <img class="vector-icon1" alt="" src="{{url_for('static', filename='/Image/linkedin1.png')}}" />

              <img class="vector-icon2" alt="" src="{{url_for('static', filename='/Image/linkedin.png')}}" />
            </a>
          </div>
        </div>
      </div>
      <div class="group-parent1">
        <div class="rectangle-parent31">
          <div class="group-child20"></div>
          <div class="faculty-team-lead">Faculty Team Lead</div>
          <div class="dr-shah-khalid">Dr. Farman Ali</div>
          <img
            class="group-child21"
            alt=""
            src="{{url_for('static', filename='/Image/farman.png')}}"
          />

          <div class="link-profile3">
            <a class="skill-iconstwitter3">
              <img class="group-icon" alt="" src="{{url_for('static', filename='/Image/twitter.png')}}" />
            </a>
            <a class="academiconsgoogle-scholar-squ3">
              <img class="vector-icon9" alt="" src="{{url_for('static', filename='/Image/google_scholar.png')}}" />
            </a>
            <a class="deviconlinkedin3">
              <img class="vector-icon10" alt="" src="{{url_for('static', filename='/Image/linkedin1.png')}}" />

              <img class="vector-icon11" alt="" src="{{url_for('static', filename='/Image/linkedin.png')}}" />
            </a>
          </div>
        </div>
        <div class="rectangle-parent32">
          <div class="group-child20"></div>
          <div class="ai-team-lead">AI Team Lead</div>
          <div class="dr-shah-khalid">Dr. Habib Shah</div>
          <img
            class="group-child21"
            alt=""
            src="{{url_for('static', filename='/Image/habib.png')}}"
          />

          <div class="link-profile4">
            <a class="skill-iconstwitter3">
              <img class="group-icon" alt="" src="{{url_for('static', filename='/Image/twitter.png')}}" />
            </a>
            <a class="academiconsgoogle-scholar-squ3">
              <img class="vector-icon9" alt="" src="{{url_for('static', filename='/Image/google_scholar.png')}}" />
            </a>
            <a class="deviconlinkedin3">
              <img class="vector-icon10" alt="" src="{{url_for('static', filename='/Image/linkedin1.png')}}" />

              <img class="vector-icon11" alt="" src="{{url_for('static', filename='/Image/linkedin.png')}}" />
            </a>
          </div>
        </div>
        <div class="rectangle-parent33">
          <div class="group-child20"></div>
          <div class="faculty-team-lead">Team Lead</div>
          <div class="dr-shah-khalid">Dr. Jawad Khan</div>
          <img
            class="group-child21"
            alt=""
            src="{{url_for('static', filename='/Image/jawad.png')}}"
          />

          <div class="link-profile5">
            <a class="skill-iconstwitter3">
              <img class="group-icon" alt="" src="{{url_for('static', filename='/Image/twitter.png')}}" />
            </a>
            <a class="academiconsgoogle-scholar-squ3">
              <img class="vector-icon9" alt="" src="{{url_for('static', filename='/Image/google_scholar.png')}}" />
            </a>
            <a class="deviconlinkedin3">
              <img class="vector-icon10" alt="" src="{{url_for('static', filename='/Image/linkedin1.png')}}" />

              <img class="vector-icon11" alt="" src="{{url_for('static', filename='/Image/linkedin.png')}}" />
            </a>
          </div>
        </div>
      </div>
      <b class="research-assistants">Research Assistants</b>
      <b class="students">Students</b>
      <b class="alumni">Alumni</b>
      <img class="people-child" alt="" src="{{url_for('static', filename='/Image/blue_rectangle.png')}}" />

      <div class="what-we-offer1"></div>
      <div class="ai-consulting-new-container1">
        <p class="ai-consulting1"></p>
        <p class="ai-consulting1"></p>
        <p class="ai-consulting1"></p>
      </div>

      <div class="frame-container">
        <div class="frame-parent1">
          {% for header in headings2 %}
          <div class="assistant-id-wrapper">
            <div class="no">{{header}}</div>
          </div>
          {% endfor %}
        </div>
        {% for row in stu_tuple %}
        <div class="frame-parent2">
          {% for cell in row %}
          <div class="wrapper">
            <div class="assistant-id">{{cell}}</div>
          </div>
          {% endfor %}
        </div>
        {% endfor %}
      </div>

      

      <div class="frame-parent13">
        <div class="frame-parent1">
          {% for header in headings2 %}
          <div class="assistant-id-wrapper">
            <div class="assistant-id">{{header}}</div>
          </div>
          {% endfor %}
        </div>
        {% for row in stu_tuple %}
        <div class="frame-parent2">
          {% for cell in row %}
          <div class="wrapper">
            <div class="assistant-id">{{cell}}</div>
          </div>
          {% endfor %}
        </div>
        {% endfor %}
      </div>

      <div class="frame-parent26">
        <div class="frame-parent1">
          {% for header in headings4 %}
          <div class="assistant-id-wrapper">
            <div class="assistant-id">{{header}}</div>
          </div>
          {% endfor %}
        </div>
        {% for row in alu_tuple %}
        <div class="frame-parent2">
          {% for cell in row %}
          <div class="wrapper">
            <div class="assistant-id">{{cell}}</div>
          </div>
          {% endfor %}
        </div>
        {% endfor %}
      </div>
    </div>

    </div>

    <script>
      var groupButton1 = document.getElementById("groupButton1");
      if (groupButton1) {
        groupButton1.addEventListener("click", function (e) {
          window.location.href = "./projects.html";
        });
      }
      
      var groupButton2 = document.getElementById("groupButton2");
      if (groupButton2) {
        groupButton2.addEventListener("click", function (e) {
          window.location.href = "./publication.html";
        });
      }
      
      var groupButton3 = document.getElementById("groupButton3");
      if (groupButton3) {
        groupButton3.addEventListener("click", function (e) {
          window.location.href = "./people.html";
        });
      }
      
      var groupButton4 = document.getElementById("groupButton4");
      if (groupButton4) {
        groupButton4.addEventListener("click", function (e) {
          window.location.href = "./jobs.html";
        });
      }
      
      var groupButton5 = document.getElementById("groupButton5");
      if (groupButton5) {
        groupButton5.addEventListener("click", function (e) {
          window.location.href = "./datasets.html";
        });
      }
      
      var groupButton6 = document.getElementById("groupButton6");
      if (groupButton6) {
        groupButton6.addEventListener("click", function (e) {
          window.location.href = "news-events.html";
        });
      }
      </script>
  </body>
</html>
